body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #260801;
}

.joke {
    margin-top: 10px;
    font-size: 1.1em;
    color: #D9AA55;

}

h1 {
    color: #D9AA55;
}

button {
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #D9AA55;
    font-size: 1.2em;
    background-color: #733702;
    color: white;
    transition: all 200ms;

}

button:hover {
    color: #8C6620;
    background-color: white;
    border: 1px solid #733702;
}

ul {
    margin-top: 25px;
}